/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    margin-bottom: 0px;
}

.tab-content {
    padding: 20px;
    border: 1px solid #dddddd;
    border-top: 0;
}

.queryResults td
{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p.reportheader {
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}
table.gridtable {
    border-collapse: collapse;
    margin:30px;
}

table.gridtable td{
    padding: 5px;
}

table.gridtable td.header {
    border-bottom: 1px solid black;
    font-weight: bold;
}

table.gridtable td.subtotal {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-weight: bold;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

#mapwrapper {
    display: block;
    position:absolute;
    float:left;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:70px; /* adjust top margin to your header height */
    text-align: center;
}

#mapiframe {
    width:100%;
    height: 500px;
}

#resulttabs {
    margin-left: 20px;
    margin-right: 20px;
}

#geoTree {
    height: 200px;
    width: 500px;
    overflow-y: auto;
    border: 2px solid;
    border-radius: 5px;
}

.querydescription {
    text-align: center;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}