
<div class="form-group"
     data-bind="fadeVisible: ($parent.geoselector.selectedGeographicType())
                                         && ($parent.geoselector.useGeographicFilter() == 'false' || $parent.geoselector.geoFilters().length > 0)">
    <label class="control-label">Do you want to limit the results by primary work category?</label>

    <div class="controls">
        <input type="radio" name="resultsFilter" value="true"
               data-bind="checked: useCategoryFilter">Yes</input>
        <input type="radio" name="resultsFilter" value="false"
               data-bind="checked: useCategoryFilter">No, show me everything</input>
    </div>
</div>

<div class="form-group"
     data-bind="fadeVisible: ($parent.geoselector.selectedGeographicType())
                                 && ($parent.geoselector.useGeographicFilter() == 'false' || $parent.geoselector.geoFilters().length > 0)
                                 && useCategoryFilter() == 'true'">
    <label class="control-label">Select primary work categories:</label>

    <div id="categoryTree"
         style="width: 500px; border: 2px solid; border-radius: 5px;"/>
</div>

