<div class="container" data-bind="visible: charts().length > 0">
    <div data-bind="compose: { model: querydescription, preserveContext: true }"></div>
    <div class="row">
        <ul class="nav nav-tabs">
            <!-- ko foreach: charts -->
            <li data-bind="css: { active: $index() == 0 }">
                <a data-toggle="tab" data-bind="attr: { href: '#charttab_' + id }"><span data-bind="text: title"/></a>
            </li>
            <!-- /ko -->
        </ul>
        <div class="tab-content">
            <!-- ko foreach: charts -->
            <div class="tab-pane" data-bind="attr: { id: 'charttab_' + id }, css: { active: $index() == 0 }">
                <!-- ko foreach: charts -->
                <div class="chart-container" data-bind="attr: { id: 'chart_' + id }"
                     style="width: 800px; height: 400px; margin: 0 auto"></div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>



