
    <div class="form-group">
        <label for="selectGeoType">By what geographic definition do you want your data
            summarized?</label>
        <select id="selectGeoType" name="selectGeoType" class="form-control"
                data-bind="
                                        options: geographicTypes,
                                        optionsText: 'name',
                                        optionsValue: 'value',
                                        value: selectedGeographicType,
                                        optionsCaption: 'Select...'">
        </select>
    </div>
    <div class="form-group" data-bind="fadeVisible: selectedGeographicType">
        <label>
            Do you want to restrict your query to specific geographic areas?</label>

        <div class="input-group">
            </span>
            <div class="controls">
                <input type="radio" name="geoFilter" value="true"
                       data-bind="checked: useGeographicFilter">Yes</input>
                <input type="radio" name="geoFilter" value="false"
                       data-bind="checked: useGeographicFilter">No, show me everything</input>
            </div>
        </div>
    </div>


    <div class="form-group"
         data-bind="fadeVisible: useGeographicFilter() == 'true'">
        <label class="control-label">Select geographic areas:</label>

        <div id="geoTree"/>
    </div>