<style type="text/css">
    <!--

    @media print {
        .noprint {
            display: none;
        }
    }

</style>
<div class="container" data-bind="visible: selectedOrder">
    <div class="col-md-6" data-bind="compose: querydescription"></div>
</div>
<div class="container">
    <div id="reportcontainer" data-bind="visible: selectedOrder">
        <div class="row">
                <div class="form-inline">
                    <select id="selectOrder" class="form-control pull-right"
                            data-bind="options: levelOrders,
                        optionsText: 'name',
                        optionsValue: 'name',
                        value: selectedOrder">
                    </select>
                    <label class="col-sm-2 control-label pull-right">Summarize By:</label>
                    <a class="btn btn-primary" data-bind="click: print">Print</a>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs">
                        <!-- ko foreach: pivotTables -->
                        <li data-bind="css: { active: $index() == 0 }">
                            <a data-toggle="tab" data-bind="attr: { href: '#charttab_' + id }"><span data-bind="text: title"/></a>
                        </li>
                        <!-- /ko -->
                    </ul>
                    <div class="tab-content">
                        <!-- ko foreach: pivotTables -->
                        <div class="tab-pane" data-bind="attr: { id: 'charttab_' + id }, css: { active: $index() == 0 }">
                            <div class="report-container" data-bind="attr: { id: id }">
                                <p>

                                <div data-bind="html: html"></div>
                                </p>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
        </div>
    </div>
</div>