<div class="form-inline navbar nav row" role="form">

    <div class="form-group">
        <li class="dropdown">
            <!-- ko with: querydescription -->
            <a href="#" class="btn btn-primary navbar-btn" data-toggle="dropdown">Selected query: <span data-bind="text: queryName"/> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">

                <!-- ko foreach: criteria -->
                <li class="divider"></li>
                <li><a><span data-bind="text: name"/>: <span data-bind="text: value"/></a></li>
                <!-- /ko -->
            </ul>
            <!-- /ko -->
        </li>
    </div>

    <div class="form-group">
        <a class="btn btn-primary navbar-btn" data-bind="click: $parent.print">Print</a>
    </div>
    <div class="form-group" data-bind="visible: $parent.graphMetrics">
        <label class="navbar-text" for="selectQuery">Selected measure:
            <select id="selectQuery" class="form-control"
                    data-bind="options: $parent.graphMetrics,
                            optionsText: 'name',
                            optionsValue: 'value',
                            value: $parent.selectedMetric">
            </select>
        </label>
    </div>
    <div class="form-group" data-bind="visible: $parent.levelOrders">
        <label class="navbar-text" for="selectOrder">Summarize By:
            <select id="selectOrder" class="form-control"
                    data-bind="options: $parent.levelOrders,
                            optionsText: 'name',
                            optionsValue: 'name',
                            value: $parent.selectedOrder">
            </select>
        </label>
    </div>
</div>


