<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form id="queryConfigForm">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="selectQuery">Which query would you like to run?</label>
                                <select id="selectQuery" name="selectQuery" class="form-control"
                                        data-bind="
                                        options: queries,
                                        optionsText: 'name',
                                        optionsValue: 'value',
                                        value: selectedQuery,
                                        optionsCaption: 'Select...'">
                                </select>
                            </div>

                            <div data-bind="visible: (selectedQuery() == 'Conditions of Specified Road / CDS'), compose: { model: routeselector, preserveContext: true }"></div>

                            <div data-bind="visible: (selectedQuery() != undefined && selectedQuery() != 'Conditions of Specified Road / CDS'), compose: { model: geoselector, preserveContext: true }"></div>

                            <div data-bind="visible: ((geoselector.useGeographicFilter() == 'false' || geoselector.geoFilters().length > 0) && selectedQuery() != 'Unstable Slopes' && selectedQuery() != 'Crash Analysis'),
                             compose: { model: assetselector, preserveContext: true }"></div>

                            <div data-bind="visible: ((geoselector.useGeographicFilter() == 'false' || geoselector.geoFilters().length > 0) && selectedQuery() == 'Unstable Slopes'),
                             compose: { model: slopeselector, preserveContext: true }"></div>

                            <div data-bind="visible: ((geoselector.useGeographicFilter() == 'false' || geoselector.geoFilters().length > 0) && selectedQuery() == 'Crash Analysis'),
                             compose: { model: categoryselector, preserveContext: true }"></div>

                           <div class="button-group"
                                 data-bind="fadeVisible: (geoselector.selectedGeographicType())
                                 && (geoselector.useGeographicFilter() == 'false' || geoselector.geoFilters().length > 0)
                                 && (assetselector.useAssetFilter() == 'false' || assetselector.assetFilters().length > 0)"
                                 style="padding-top: 20px">
                                <a class="btn btn-primary" data-bind="click: executeQuery">Submit your query</a>
                                <a class="btn btn-primary" data-bind="click: resetObservables">Reset query</a>
                            </div>

                            <div class="button-group" data-bind="fadeVisible: routeselector.selectedCds "style="padding-top: 20px">
                                <a class="btn btn-primary" data-bind="click: executeQuery">Submit your query</a>
                                <a class="btn btn-primary" data-bind="click: resetObservables">Reset query</a>
                            </div>

                            <div class="button-group" data-bind="fadeVisible: slopeselector.queryReady"style="padding-top: 20px">
                                <a class="btn btn-primary" data-bind="click: executeQuery">Submit your query</a>
                                <a class="btn btn-primary" data-bind="click: resetObservables">Reset query</a>
                            </div>

                            <div class="button-group" data-bind="fadeVisible: categoryselector.queryReady() == 'true'" style="padding-top: 20px">
                                <a class="btn btn-primary" data-bind="click: executeQuery">Submit your query</a>
                                <a class="btn btn-primary" data-bind="click: resetObservables">Reset query</a>
                            </div>

                        </div>

                        <div class="col-md-4" id="querydescription">
                            <strong class="nav-header">Your selected options:</strong>
                            <ul class="nav nav-list">

                                <li data-bind="fadeVisible: selectedQuery">Selected query: <span data-bind="text: selectedQuery"/></li>
                                <li data-bind="fadeVisible: routeselector.selectedRoute">Selected Route <span data-bind="text: routeselector.routeName"/></li>
                                <li data-bind="fadeVisible: routeselector.selectedCds">Selected CDS <span data-bind="text: routeselector.selectedCds"/></li>
                                <li data-bind="fadeVisible: geoselector.selectedGeographicType">Geographic definition: <span
                                        data-bind="text: geoselector.selectedGeographicTypeDisplay"/></li>
                                <li data-bind="fadeVisible: geoselector.useGeographicFilter() == 'false'">No geographic filter</li>
                                <li data-bind="visible: geoselector.geoFilters().length > 0">Geographic areas selected:</li>
                                <!-- ko foreach: geoselector.geoFilters -->
                                <li style="padding-left:30px;"><span
                                        data-bind="visible: text == 'Regions'">All </span><span data-bind="text: text"/>
                                </li>
                                <!-- /ko -->
                                <li data-bind="fadeVisible: assetselector.useAssetFilter() == 'false'">No asset filter</li>
                                <li data-bind="visible: assetselector.assetFilters().length > 0">Assets selected:</li>
                                <!-- ko foreach: assetselector.assetFilters -->
                                <li style="padding-left:30px;">
                                    <span data-bind="visible: (text == 'Bridges' || text == 'Roads') ">All </span>
                                    <span data-bind="visible: original.parentId, text: original.parentId + ': '"/>
                                    <span data-bind="text: text"/>
                                </li>
                                <!-- /ko -->

                                <li data-bind="fadeVisible: slopeselector.useAadtFilter() == 'false'">No AADT filter</li>
                                <li data-bind="fadeVisible: slopeselector.aadtFilter">Mininum AADT <span data-bind="text: slopeselector.aadtFilter"/></li>
                                <li data-bind="fadeVisible: slopeselector.useScoreFilter() == 'false'">No hazard score filter</li>
                                <li data-bind="fadeVisible: slopeselector.scoreFilter">Mininum hazard score <span data-bind="text: slopeselector.scoreFilter"/></li>
                                <li data-bind="fadeVisible: (slopeselector.mitigationNotPresentFilter && slopeselector.mitigationNotPresentFilter() == 'true')">Show slopes ONLY where mitigation NOT present</li>
                                <li data-bind="fadeVisible: (slopeselector.mitigationNotPresentFilter && slopeselector.mitigationNotPresentFilter() == 'false')">Show slopes regardless of mitigation</li>
                                <li data-bind="fadeVisible: categoryselector.useCategoryFilter() == 'false'">No Category filter</li>
                                <li data-bind="fadeVisible: categoryselector.selectedCategory">Category Filter: <span data-bind="text: categoryselector.selectedCategory"/></li>
                            </ul>

                            </ul>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>