<div class="container">
    <div class="row">
        <div style="display: none" data-bind="visible: configuredTables().length > 0" id="resultscontainer">
            <div id="mapwrapper" class="row" >
                <div id="mapheight">

                    <div data-bind="visible: querydescription.querystring(), compose: { model: querydescription, preserveContext: true, activate:true }"/>

                    <iframe id="mapiframe" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="maps/Map.html"></iframe>

                    <div class="tabbable" id="resulttabs">
                        <ul class="nav nav-tabs">
                            <!-- ko foreach: configuredTables -->
                               <li data-bind="css: { active: $index() == 0 }"><a data-toggle="tab" data-bind="attr: { href: '#' + id + '_tab_div' }"><span data-bind="text: title"/></a></li>
                            <!-- /ko -->
                        </ul>
                        <div class="tab-content">
                            <!-- ko foreach: configuredTables -->
                                <div class="tab-pane" data-bind="attr: { id: id  + '_tab_div' }, css: { active: $index() == 0 }" style="overflow-x: scroll; overflow-y: hidden">
                                    <table cellpadding="0" cellspacing="0" border="0" id="example1" class="queryResults" width="100%"
                                           data-bind="attr: { id: id + '_table' }"/>
                                </div>
                            <!-- /ko -->
                        </div><!-- /.tab-content -->
                    </div><!-- /.tabbable -->
                </div>
            </div>
        </div>
    </div>
</div>